body{

    font-family: Arial, sans-serif;
    padding: 20px;
}

.hidden {
    display: none;
}

button{
    padding: 10px 20px;
    margin-top: 15px;
    color: blueviolet;
    cursor: pointer;
}